@import "reset";
@import "variables";
@import "mixins";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sofia Sans", sans-serif;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

b {
  color: red;
}

.header {
  padding: 20px 0;
  .header-inner {
    display: flex;
    justify-content: center;

    .logo {
      max-width: 150px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .menu {
      > ul {
        list-style: none;
        display: flex;
        > li {
          > a {
            display: block;
            text-decoration: none;
            &:hover {
              background-color: aqua;
            }
          }
          + li {
            > a {
              border: 0;
            }
          }
        }
      }
    }
  }
}
