@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #505867;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  margin: 0 30px;
}

.navbar .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar .nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .nav .nav-item a {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.navbar .nav .nav-item a i {
  font-size: 11px;
  font-weight: 800;
}

.title-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar .nav-btn {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgb(92, 92, 249);
  border-radius: 99px;
  color: white;
}

/* Desktop */
@media screen and (min-width: 992px) {
  .navbar .title-right .icon-right {
    display: none;
  }
}

/* Tablet */
@media screen and (max-width: 991px) {
  .navbar .nav {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .navbar .title-right .nav-btn {
    display: none;
  }
}
