/* Ex1 */
button {
    display: block;
    margin-top: 16px;
}

/* Ex3 */
:root {
    --font-size: 2.5em;
    --font-weight: 700;
}

h2 {
    color: #161ea3;
    text-decoration: solid #161ea3;
}

.heading {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: black;
}

.sidebar {
    font-weight: var(--font-weight);
    font-size: 1.875em;
    
}

.footer {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: black;
}
