* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --container-width: 1200px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: calc(100% / (12 / 1));
  max-width: calc(100% / (12 / 1));
}

.col-2 {
  flex-basis: calc(100% / (12 / 2));
  max-width: calc(100% / (12 / 2));
}

.col-3 {
  --column-size: 3;
  --column-width: calc(100% / (12 / var(--column-size)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
}
