* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --container-width: 1200px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: calc(100% / 12);
  max-width: calc(100% / 12);
}

.col-2 {
  flex-basis: calc(100% / (12 / 2));
}
