body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-footers {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 5px 30px 20px 30px;
  background-color: #334455;
  border-radius: 5px;
}

/* Hover */
.custom-footers:hover input::placeholder {
  color: #ffa503;
}

.custom-footers:hover input {
  background-color: #ddd;
}

.custom-footers:hover .btn {
  background-color: #ffa503;
  color: #fff;
}

/*  */

h2 {
  font-weight: 400;
  color: white;
}

.highlight {
  color: #ffa503;
}

p {
  font-size: 12px;

  margin-top: -10px;
  color: white;
}

.custom-form {
  display: flex;
  width: 40%;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

input {
  flex: 0.6;
  padding-left: 10px;
  height: 30px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b7f88;
}

.btn {
  flex: 0.4;
  height: 34px;
  border-radius: 3px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border: 1px solid #a49123;
  background-color: #f8db35;
}
