.menu__item.active a {
  color: #46b20f;
  border-bottom: 1.667px solid #46b20f;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav__menu {
  display: flex;

  align-items: center;
}

.menu__item {
  padding: 0 25px;
  font-weight: 600;
  font-size: 1.25rem;
}

.menu__item a {
  padding-bottom: 54px;
}

.menu__item a:hover {
  color: #46b20f;
  border-bottom: 1.667px solid #46b20f;
}

.menu__item--cart {
}

.menu__item--search {
}
