* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1300px;
  --container-padding: 12px;
  --max-column: 12;
  --column-space: 24px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--column-space) / 2);
}

.row [class^="col-"] {
  --column-width: calc(100% / (var(--max-column) / var(--column-number)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
  padding: 0 calc(var(--column-space) / 2);
}

.col-1 {
  --column-number: 1;
}

.col-2 {
  --column-number: 2;
}

.col-3 {
  --column-number: 3;
}

.col-4 {
  --column-number: 4;
}

.col-5 {
  --column-number: 5;
}

.col-6 {
  --column-number: 6;
}

.col-7 {
  --column-number: 7;
}

.col-8 {
  --column-number: 8;
}

.col-9 {
  --column-number: 9;
}

.col-10 {
  --column-number: 10;
}

.col-11 {
  --column-number: 11;
}

.col-12 {
  --column-number: 12;
}

@media screen and (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }

  .navbar-header {
    display: none;
  }

  .header-content {
    text-align: center;
  }

  .header-content .header-content-top {
    margin: 0 auto 20px auto;
  }

  .header-content-txt .-header-content-title {
    font-size: 3.8rem;
    width: 100%;
    line-height: 5.8rem;
  }

  .header-content-txt .-header-content-title .header-red {
    font-size: 3.8rem;
    line-height: 5.8rem;
  }

  .header-content-txt .header-content-para {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .header-btn {
    font-size: 1.6rem;
    width: 160px;
  }

  .header-btn .header-now-btn {
    width: 160px;
    font-size: 1.6rem;
  }

  .header-btn .header-process-btn {
    width: 200px;
    font-size: 16px;
  }
  /* Service */
  .service-wrapper {
    padding: 50px 0 !important;
  }

  .service-heading .service-heading-title {
    font-size: 1.6rem;
  }

  .service-heading .service-heading-title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 100%;
  }

  .service-content-inner .service-content {
    margin: 10px 0;
    padding: 30px 22px;
  }

  .service-content-inner .service-content .service-content-title {
    font-size: 1.8rem;
  }

  /* Section Buy */
  .section-buy-wrap .section-buy-content {
    margin: 80px 0 20px 0;
    text-align: center;
  }

  .section-buy-content .section-buy-content_title {
    font-size: 1.6rem;
  }

  .section-buy-content .section-buy-content_title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 100%;
  }

  .section-buy-content .section-buy-content_para {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .section-buy-content_btn .buy-content-btn {
    width: 180px;
    padding: 18px 20px;
    font-size: 1.6rem;
    margin: 0 auto;
  }
  /* Section Ship */
  .section-ship-wrapper {
    padding: 0 0 100px 0 !important;
  }

  .section-ship-wrap .section-ship-content {
    margin: 80px 0 20px 0;
    text-align: center;
  }

  .section-ship-content .section-ship-content_title {
    font-size: 1.6rem;
  }

  .section-ship-content .section-ship-content_title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 100%;
  }

  .section-ship-content .section-ship-content_para {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .section-ship-content .section-ship-content_btn .ship-content-btn {
    margin: 0 auto;
    width: 180px;
    padding: 18px 20px;
    font-size: 1.6rem;
  }
  .order {
    order: 2;
  }

  /* Section App Intro */
  .section-app-intro-content-txt .section-app-intro-content-title {
    font-size: 1.6rem;
  }

  .section-app-intro-content-txt .section-app-intro-content-title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 90%;
  }

  .section-app-intro-content-txt .section-app-intro-content-para {
    font-size: 1.6rem;
    max-width: 95%;
  }

  .section-app-intro-wrap .section-app-intro-content-btn {
    margin: 40px 0 20px 0;
  }

  .section-app-intro-wrap .section-app-intro-content-btn .app-btn,
  .section-app-intro-wrap .section-app-intro-content-btn .playstore-btn {
    font-size: 1.6rem;
    padding: 12px 2px;
  }
  /* Footer */
  .footer-section-logo-wrap
    .footer-section-content-logo
    .footer-section-content-logo-txt {
    font-size: 1.4rem;
    max-width: 95%;
  }

  .footer-section-logo-wrap .footer-section-logo .footer-logo-img {
    margin: 0 auto;
  }

  .footer-section-wrap .footer-section-top {
    text-align: center;
  }

  .footer-section-list-item .footer-section-list-link {
    font-size: 1.4rem;
  }

  .footer-section-content .footer-section-content-txt {
    font-size: 1.4rem;
  }

  .row {
    justify-content: center;
  }

  .col-sm-1 {
    --column-number: 1;
  }

  .col-sm-2 {
    --column-number: 2;
  }

  .col-sm-3 {
    --column-number: 3;
  }

  .col-sm-4 {
    --column-number: 4;
  }

  .col-sm-5 {
    --column-number: 5;
  }

  .col-sm-6 {
    --column-number: 6;
  }

  .col-sm-7 {
    --column-number: 7;
  }

  .col-sm-8 {
    --column-number: 8;
  }

  .col-sm-9 {
    --column-number: 9;
  }

  .col-sm-10 {
    --column-number: 10;
  }

  .col-sm-11 {
    --column-number: 11;
  }

  .col-sm-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
    margin: 0 auto;
  }

  .navbar-header {
    display: none;
  }

  .header-content-txt .-header-content-title {
    font-size: 3.8rem;
    width: 100%;
    line-height: 5.8rem;
  }

  .header-content-txt .-header-content-title .header-red {
    font-size: 3.8rem;
    line-height: 5.8rem;
  }

  .header-content-txt .header-content-para {
    font-size: 16px;
    max-width: 100%;
  }

  .header-btn {
    font-size: 1.6rem;
    width: 160px;
  }

  .header-btn .header-now-btn {
    width: 160px;
    font-size: 1.6rem;
  }

  .header-btn .header-process-btn {
    width: 200px;
    font-size: 16px;
  }
  /* Service */
  .service-heading .service-heading-title {
    font-size: 1.6rem;
  }

  .service-heading .service-heading-title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 100%;
  }

  .service-content-inner .service-content {
    margin: 0px;
    padding: 30px 22px;
  }

  .service-content-inner .service-content .service-content-title {
    font-size: 1.8rem;
  }

  /* Section Buy */
  .section-buy-wrap .section-buy-content {
    margin: 100px 0 20px 0;
  }

  .section-buy-content .section-buy-content_title {
    font-size: 1.6rem;
  }

  .section-buy-content .section-buy-content_title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 90%;
  }

  .section-buy-content .section-buy-content_para {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .section-buy-content_btn .buy-content-btn {
    width: 180px;
    padding: 18px 20px;
    font-size: 1.6rem;
  }
  /* Section Ship */
  .section-ship-wrap .section-ship-content {
    margin: 100px 0 20px 0;
  }

  .section-ship-content .section-ship-content_title {
    font-size: 1.6rem;
  }

  .section-ship-content .section-ship-content_title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 90%;
  }

  .section-ship-content .section-ship-content_para {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .section-ship-content .section-ship-content_btn .ship-content-btn {
    width: 180px;
    padding: 18px 20px;
    font-size: 1.6rem;
  }
  .order {
    order: 2;
  }

  /* Section App Intro */
  .section-app-intro-content-txt .section-app-intro-content-title {
    font-size: 1.6rem;
  }

  .section-app-intro-content-txt .section-app-intro-content-title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 90%;
  }

  .section-app-intro-content-txt .section-app-intro-content-para {
    font-size: 1.6rem;
    max-width: 95%;
  }

  .section-app-intro-wrap .section-app-intro-content-btn {
    margin: 40px 0 20px 0;
  }

  .section-app-intro-wrap .section-app-intro-content-btn .app-btn,
  .section-app-intro-wrap .section-app-intro-content-btn .playstore-btn {
    font-size: 1.6rem;
    padding: 12px 2px;
  }
  /* Footer */
  .footer-section-logo-wrap
    .footer-section-content-logo
    .footer-section-content-logo-txt {
    font-size: 1.4rem;
    max-width: 95%;
  }

  .footer-section-logo-wrap .footer-section-logo .footer-logo-img {
    margin: 0 auto;
  }

  .footer-section-wrap .footer-section-top {
    text-align: center;
  }

  .footer-section-list-item .footer-section-list-link {
    font-size: 1.4rem;
  }

  .footer-section-content .footer-section-content-txt {
    font-size: 1.4rem;
  }

  .col-md-1 {
    --column-number: 1;
  }

  .col-md-2 {
    --column-number: 2;
  }

  .col-md-3 {
    --column-number: 3;
  }

  .col-md-4 {
    --column-number: 4;
  }

  .col-md-5 {
    --column-number: 5;
  }

  .col-md-6 {
    --column-number: 6;
  }

  .col-md-7 {
    --column-number: 7;
  }

  .col-md-8 {
    --column-number: 8;
  }

  .col-md-9 {
    --column-number: 9;
  }

  .col-md-10 {
    --column-number: 10;
  }

  .col-md-11 {
    --column-number: 11;
  }

  .col-md-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }

  /* Service */
  .service-content-inner .service-content {
    margin: 10px;
    padding: 40px 26px;
  }

  .service-content-inner .service-content .service-content-title {
    font-size: 1.8rem;
  }
  /* Buy Product */
  .section-buy-wrap .section-buy-content {
    margin: 100px 0 20px 0;
  }

  .section-buy-content .section-buy-content_title {
    font-size: 1.6rem;
  }

  .section-buy-content .section-buy-content_title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 90%;
  }

  .section-buy-content .section-buy-content_para {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .section-buy-content_btn .buy-content-btn {
    width: 180px;
    padding: 18px 20px;
    font-size: 1.6rem;
  }

  /* Section Ship */
  .section-ship-wrap .section-ship-content {
    margin: 100px 0 20px 0;
  }

  .section-ship-content .section-ship-content_title {
    font-size: 1.6rem;
  }

  .section-ship-content .section-ship-content_title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 90%;
  }

  .section-ship-content .section-ship-content_para {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .section-ship-content .section-ship-content_btn .ship-content-btn {
    width: 180px;
    padding: 18px 20px;
    font-size: 1.6rem;
  }
  /* Section App Intro */
  .section-app-intro-content-txt .section-app-intro-content-title {
    font-size: 1.6rem;
  }

  .section-app-intro-content-txt .section-app-intro-content-title2 {
    font-size: 3.2rem;
    line-height: 44px;
    max-width: 90%;
  }

  .section-app-intro-content-txt .section-app-intro-content-para {
    font-size: 1.6rem;
    max-width: 95%;
  }

  .section-app-intro-wrap .section-app-intro-content-btn {
    margin: 40px 0 20px 0;
  }

  .section-app-intro-wrap .section-app-intro-content-btn .app-btn,
  .section-app-intro-wrap .section-app-intro-content-btn .playstore-btn {
    font-size: 1.6rem;
    padding: 12px 2px;
  }

  /* Footer */
  .footer-section-logo-wrap
    .footer-section-content-logo
    .footer-section-content-logo-txt {
    font-size: 1.4rem;
    max-width: 95%;
  }

  .footer-section-list-item .footer-section-list-link {
    font-size: 1.4rem;
  }

  .footer-section-content .footer-section-content-txt {
    font-size: 1.4rem;
  }

  .col-lg-1 {
    --column-number: 1;
  }

  .col-lg-2 {
    --column-number: 2;
  }

  .col-lg-3 {
    --column-number: 3;
  }

  .col-lg-4 {
    --column-number: 4;
  }

  .col-lg-5 {
    --column-number: 5;
  }

  .col-lg-6 {
    --column-number: 6;
  }

  .col-lg-7 {
    --column-number: 7;
  }

  .col-lg-8 {
    --column-number: 8;
  }

  .col-lg-9 {
    --column-number: 9;
  }

  .col-lg-10 {
    --column-number: 10;
  }

  .col-lg-11 {
    --column-number: 11;
  }

  .col-lg-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
  .col-xl-1 {
    --column-number: 1;
  }

  .col-xl-2 {
    --column-number: 2;
  }

  .col-xl-3 {
    --column-number: 3;
  }

  .col-xl-4 {
    --column-number: 4;
  }

  .col-xl-5 {
    --column-number: 5;
  }

  .col-xl-6 {
    --column-number: 6;
  }

  .col-xl-7 {
    --column-number: 7;
  }

  .col-xl-8 {
    --column-number: 8;
  }

  .col-xl-9 {
    --column-number: 9;
  }

  .col-xl-10 {
    --column-number: 10;
  }

  .col-xl-11 {
    --column-number: 11;
  }

  .col-xl-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
  .col-xxl-1 {
    --column-number: 1;
  }

  .col-xxl-2 {
    --column-number: 2;
  }

  .col-xxl-3 {
    --column-number: 3;
  }

  .col-xxl-4 {
    --column-number: 4;
  }

  .col-xxl-5 {
    --column-number: 5;
  }

  .col-xxl-6 {
    --column-number: 6;
  }

  .col-xxl-7 {
    --column-number: 7;
  }

  .col-xxl-8 {
    --column-number: 8;
  }

  .col-xxl-9 {
    --column-number: 9;
  }

  .col-xxl-10 {
    --column-number: 10;
  }

  .col-xxl-11 {
    --column-number: 11;
  }

  .col-xxl-12 {
    --column-number: 12;
  }
}
