* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 2.4rem;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

img,
svg {
  vertical-align: middle;
}

header {
  padding: 40px 0;
}

.navbar-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.logo-header {
}

.logo-header a img {
  width: auto;
  margin-right: 100px;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar-nav {
  display: flex;
  margin: 0 auto;
}
.nav-item {
  margin: 0 16px;
}

.nav-item a {
  padding: 8px 0;
  font-size: 1.4rem;
  color: #4d4d4d;
}
.search-btn {
}
.nav-search-form {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 12px;
  left: 20px;
}
.nav-search-input {
  width: 288px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 12px 66px 12px 44px;
  border: none;
}
.cart-icon {
  position: absolute;
  top: 10px;
  right: 20px;
}

.cart-icon::before {
  position: absolute;
  content: "";
  background: #f2f2f2;
  height: 27px;
  width: 2px;
  left: -16px;
  top: 2px;
}

.cart-icon::after {
  content: "2";
  position: absolute;
  background: #f54b4b;
  -webkit-box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
  box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.005em;
  color: #fffdfd;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -24px;
  right: -24px;
}

.header-wrap {
  padding: 80px 0;
}

.header-content {
}
.header-content-top {
  background: #fdecec;
  border-radius: 23px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 0 20px 0;
}
.header-content-top-title {
  color: #f55556;
  font-weight: 500;
  line-height: 1.6rem;
}
.header-top-img {
  margin: 0 8px;
}
.strawberry-img {
  width: 26px;
  height: 24px;
}
.header-content-txt {
}
.-header-content-title {
  color: #2e2e2e;
  font-size: 7.4rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  line-height: 8.8rem;
}
.header-red {
  color: #f54748;
  font-size: 74px;
  font-weight: 500;
  letter-spacing: -3.7px;
  line-height: 88px;
}
.header-content-para {
  color: #676767;
  font-size: 18px;
  letter-spacing: 0.09px;
  line-height: 30px;
  margin: 22px 0px;
}
.header-btn-wrap {
}
.header-btn {
}
.header-now-btn {
  background: #f86061;
  border-radius: 12px;
  width: 186px;
  padding: 25px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #fffafa;
  display: block;
  border: 1px solid transparent;
}
.header-process-btn {
  display: flex;
  width: 224px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: -0.01em;
  align-items: center;
  color: #2e2e2e;
  justify-content: space-between;
  background: none;
  border: none;
}
.play-icon {
  border-radius: 50%;
  box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
}
.play-img {
}
.header-content-img {
}
.header-img {
  width: 100%;
}

.service-wrapper {
  padding: 100px 0;
  background-color: #fef5f5;
}
.service-wrap {
}
.service-wrapper .service-wrap .container {
  flex-direction: column;
}
.row {
}
.service-heading {
  text-align: center;
}
.service-heading-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #f54748;
  margin: 0 0 8px 0;
}
.service-heading-title2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #2e2e2e;
  margin: 0 auto;
  max-width: 70%;
}
.service-content-wrap {
  margin: 60px 0 20px 0;
}
.service-content-inner {
  position: relative;
}
.service-content-bg {
  position: absolute;
  /* width: 310px;
  height: 350px; */
  background: #fe6a6a;
  border-radius: 12px;
  left: 28px;
  z-index: 0;
  transform: rotate(0deg);
  opacity: 0;
  transition: 0.2s all ease;
}
.service-content {
  margin: 30px;
  background-color: #fff;
  border-radius: 12px;
  padding: 50px 35px;
  position: relative;
  z-index: 2;
}
.service-content-ic {
}
.service-content-img {
  width: auto;
  height: 60px;
  margin: 0 auto;
  filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
}
.service-content-txt {
  text-align: center;
  margin: 60px 0 10px 0;
}
.service-content-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
  margin: 0 0 15px 0;
}
.service-content-para {
  color: #676767;
  font-size: 1.4rem;
  line-height: 25px;
  margin: 0px auto;
}

.section-buy-wrapper {
  padding: 50px 0;
}
.section-buy-wrap {
}

.section-buy-content_img {
}
._feature_grover_img {
}
.section-buy-content {
  margin: 180px 0 20px 0;
}
.section-buy-content_txt {
}
.section-buy-content_title {
  color: #03a66b;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.18px;
  line-height: 24px;
  margin: 0px 0px 8px;
  text-transform: uppercase;
}
.section-buy-content_title2 {
  color: #2e2e2e;
  font-size: 4rem;
  font-weight: 700;
  line-height: 54px;
  margin: 0px 0px 22px;
  text-transform: capitalize;
}
.section-buy-content_para {
  color: #676767;
  font-size: 1.8rem;
  line-height: 30px;
}
.section-buy-content_btn {
  margin: 50px 0 20px 0;
}
._feature_content_btn {
  background-color: #f86061;
  border-radius: 12px;
  color: #fffafa;
  font-size: 2rem;
  font-weight: 500;
  line-height: 20px;
  padding: 24px 20px;
  text-align: center;
}
