html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 2.4rem;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

header {
  padding: 40px 0;
}

.navbar-header {
}
.container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.logo-header {
}
.navbar-collapse {
  display: flex;
  align-items: center;
}
.navbar-nav {
  display: flex;
}
.nav-item {
}
.search-btn {
}
.nav-search-form {
}
.search-icon {
}
.nav-search-input {
}
.cart-icon {
}
