* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
/* =======COMMON======= */
.container {
  width: 687px;
  max-width: calc(100% - 48px);
  height: 549px;
  margin: 50px auto;
  color: #646464;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Options*/
.nav {
  position: relative;
}
.list-items {
  position: relative;
  display: flex;
  justify-content: center;
}

.item {
  flex-basis: calc(100% / 4);
  border: 1px solid #eee;
  text-align: center;
  padding: 3px;
}

.item__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.1s linear;
  padding: 11px;
  font-size: 1.5rem;
  cursor: pointer;
}

.item__link:hover {
  background: #3499db;
  color: aliceblue;
}

.item__info {
  position: absolute;
  top: 52.3px;
  left: 0;
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  text-align: left;
  overflow-x: scroll;
  transform-origin: top left;
  transition: 0.5s linear;
  opacity: 0;
  transform: rotateX(-90deg);
}

.item__info-pseudo {
  position: absolute;
  top: 52.3px;
  left: 0;
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  text-align: left;
  overflow-x: scroll;
}

.item__info--heading {
  font-size: 3.4rem;
  font-weight: 700;
}

.item__info--desc {
  font-size: 1.5rem;
  width: 105%;
}

input:checked ~ .item__info {
  transform: rotateX(0);
  z-index: 1;
  opacity: 1;
}
input:checked ~ .item__link {
  background: #3499db;
  color: aliceblue;
}
