* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

.action-container,
.quiz-container {
  width: 100vw;
  height: 100vh;

  position: fixed;
  inset: 0;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaTbLwZWA1-qA2Fti2m1AvFhfwebChOddSug&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  background-color: rgba(22, 21, 21, 0.685);
  border: 1px solid rgba(22, 21, 21, 0.685);
  border-radius: 8px;
  color: #fff;
  font-size: 3.2rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(0.95);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

/* Loading */
.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* question-container */

.question-container {
  display: flex;
  flex-direction: column;

  color: #fff;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6FP9lbmzeJiaH_lNVVI8zUsBnJB1gfKJEyw&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.question {
  width: 100%;
  height: 250px;
  background-color: rgba(22, 21, 21, 0.685);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
}

.answer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}

.answer {
  width: 100%;
  height: 300px;
  background-color: rgba(22, 21, 21, 0.685);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  cursor: pointer;
}

.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background: #000;
  padding: 10px;
}

.score-container {
  font-size: 2.2rem;
}

.quantity-question {
  font-size: 1.8rem;
  background-color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 10px;
}

.question-list {
  position: fixed;
  display: flex;
  inset: 0;
  transition: 1s;
}

/* Countdown */
.countdown {
  width: 100%;
  margin-top: -21px;
}

.countdown-timer {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: transparent;
  border-radius: 999px;
  height: 5px;
  margin-bottom: 20px;
  position: relative;
}

.progress {
  width: 100%;
  background-color: #fff;
  border-radius: 999px;
  height: 5px;
  margin-bottom: 20px;
  transition: width 1s linear;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.result-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 500px;
  flex-wrap: wrap;
  background-color: rgba(22, 21, 21, 0.685);
  gap: 20px;
  margin: 0 auto;
}

.result-item {
  flex-basis: calc(50% - 40px);
  background-color: rgb(171, 195, 104);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question-note {
  font-size: 1.8rem;
  margin-top: 10px;
}

.play-again {
  background-color: rgb(171, 195, 104);
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.play-again:hover {
  background-color: rgb(200, 207, 182);
}
