@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg);
  background-size: cover;
  background-position: top -200px left;
  background-repeat: repeat;
}

* {
  font-family: "Nunito", sans-serif;
  color: #717171;
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  margin-top: 0;
  font-size: 21px;
  color: #272323;
}

h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 44px;
  background-color: #ec6355;
  border: none;
  margin: 12px auto 0 auto;
}

.highlight {
  padding: 0 5px;
  border-radius: 5px;
  color: #ec6355;
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  list-style: none;
  background-color: #db5c4f;
  cursor: pointer;
}

li i {
  color: white;
  font-size: 12px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-top: -10px;
}

.btn-form-title {
  margin: 10px 0;
  padding: 10px 30px;
  font-size: 14px;
  color: #ec6355;

  border-radius: 3px;
  background-color: #ffffff;
}

.container {
  height: 100%;
}

.form-login {
  height: 400px;
  width: 700px;
  margin: 90px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  opacity: 0.9;
}

.form-title {
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  background-color: #ec6355;
}

.custom-form {
  height: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background-color: #ffffff;
}

.custom-form-item {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form-item * {
  box-sizing: border-box;
}

.form-title-highlight {
  color: #ec6355;
}

input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.item-support {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
}

.item-support .item-support-title {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-support .item-support-title input {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.item-support .item-support-title label {
  flex: 9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.item-support a {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
button {
  width: 100%;
  height: 36px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #ec6355;
  color: #fff;
  margin: 20px 0;
}

.item-support-subtitle {
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.icon-center {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 180px;
  left: 280px;
  background-color: #ffff;
  border-radius: 50%;
  box-shadow: 0 0 5px #bbb;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-center i {
  color: #ec6355;
}

button:hover {
  background-color: #ec5555c7;
}

.btn-form-title:hover {
  background-color: #ffffffcc;
}

.icon-center:hover {
  background-color: #ffffffcc;
}

.form-title ul li:hover {
  background-color: #db5c4f6e;
}
