/* Thiết lập kiểu nút bấm */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

/* Ẩn input radio */
input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

/* Tùy chỉnh radio */
.custom-radio {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.radio-item-1,
.radio-item-2,
.radio-item-3,
.radio-item-4,
.radio-item-5 {
  white-space: nowrap;
  margin-left: 3px;
  background-color: #f5f5f5;
  padding: 10px 30px;
}

label span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Tùy chỉnh kiểu nút khi được chọn */
input:nth-of-type(1):checked ~ nav > .radio-item-1,
input:nth-of-type(2):checked ~ nav > .radio-item-2,
input:nth-of-type(3):checked ~ nav > .radio-item-3,
input:nth-of-type(4):checked ~ nav > .radio-item-4,
input:nth-of-type(5):checked ~ nav > .radio-item-5 {
  color: aliceblue;
  background-color: #28388d;
}

/* Hiệu ứng cho vote star */
.rate {
  float: left;
  height: 30px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* Adjusted CSS for new IDs */
input[id^="star5-"],
input[id^="star4-"],
input[id^="star3-"],
input[id^="star2-"],
input[id^="star1-"] {
  display: none;
}

label[for^="star5-"]:before,
label[for^="star4-"]:before,
label[for^="star3-"]:before,
label[for^="star2-"]:before,
label[for^="star1-"]:before {
  content: "★";
}

input[id^="star5-"]:checked ~ label[for^="star5-"],
input[id^="star4-"]:checked ~ label[for^="star4-"],
input[id^="star3-"]:checked ~ label[for^="star3-"],
input[id^="star2-"]:checked ~ label[for^="star2-"],
input[id^="star1-"]:checked ~ label[for^="star1-"] {
  color: #ffc700;
}

label[for^="star5-"]:hover,
label[for^="star4-"]:hover,
label[for^="star3-"]:hover,
label[for^="star2-"]:hover,
label[for^="star1-"]:hover,
input[id^="star5-"]:checked ~ label[for^="star5-"]:hover,
input[id^="star4-"]:checked ~ label[for^="star4-"]:hover,
input[id^="star3-"]:checked ~ label[for^="star3-"]:hover,
input[id^="star2-"]:checked ~ label[for^="star2-"]:hover,
input[id^="star1-"]:checked ~ label[for^="star1-"]:hover {
  color: #deb217;
}

input[id^="star5-"]:checked + label[for^="star5-"]:hover,
input[id^="star4-"]:checked + label[for^="star4-"]:hover,
input[id^="star3-"]:checked + label[for^="star3-"]:hover,
input[id^="star2-"]:checked + label[for^="star2-"]:hover,
input[id^="star1-"]:checked + label[for^="star1-"]:hover,
input[id^="star5-"]:checked ~ label[for^="star5-"]:hover ~ label[for^="star5-"],
input[id^="star4-"]:checked ~ label[for^="star4-"]:hover ~ label[for^="star4-"],
input[id^="star3-"]:checked ~ label[for^="star3-"]:hover ~ label[for^="star3-"],
input[id^="star2-"]:checked ~ label[for^="star2-"]:hover ~ label[for^="star2-"],
input[id^="star1-"]:checked ~ label[for^="star1-"]:hover ~ label[for^="star1-"],
label[for^="star5-"]:hover ~ input[id^="star5-"]:checked ~ label[for^="star5-"],
label[for^="star4-"]:hover ~ input[id^="star4-"]:checked ~ label[for^="star4-"],
label[for^="star3-"]:hover ~ input[id^="star3-"]:checked ~ label[for^="star3-"],
label[for^="star2-"]:hover ~ input[id^="star2-"]:checked ~ label[for^="star2-"],
label[for^="star1-"]:hover
  ~ input[id^="star1-"]:checked
  ~ label[for^="star1-"] {
  color: #c59b08;
}

/* products */
.products {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.products-item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
}

/* Action tab */
.tab-hidden {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.custom-tab-hidden {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.cart {
  width: 100%;
  padding: 16px 0;
  text-align: center;
}

.cart,
i {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #f0f8ff;
  background-color: #28388d;
  transition: all 0.3s;
}

i {
  padding: 16px 16px;
  flex: 1;
}

.cart:hover,
i:hover {
  background-color: #5b68a6;
}
/* Hover thẻ a hiện lên tab ẩn  */
a:hover > .image-1 .tab-hidden {
  opacity: 1;
}

a:hover > .image-2 .tab-hidden {
  opacity: 1;
}

a:hover > .image-3 .tab-hidden {
  opacity: 1;
}

a:hover > .image-4 .tab-hidden {
  opacity: 1;
}

/* Hover vào image đổi ảnh */
#skincare:checked ~ .products a .image-1:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc928ctqd99_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#skincare:checked ~ .products a .image-2:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-23020-rm8vwbd23cnv86_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#skincare:checked ~ .products a .image-3:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#skincare:checked ~ .products a .image-4:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* */
#haircare:checked ~ .products a .image-1:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc928ctqd99_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#haircare:checked ~ .products a .image-2:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-23020-rm8vwbd23cnv86_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#haircare:checked ~ .products a .image-3:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#haircare:checked ~ .products a .image-4:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*  */
#cosmeticscases:checked ~ .products a .image-1:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc928ctqd99_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#cosmeticscases:checked ~ .products a .image-2:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-23020-rm8vwbd23cnv86_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#cosmeticscases:checked ~ .products a .image-3:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#cosmeticscases:checked ~ .products a .image-4:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*  */
#fragrance:checked ~ .products a .image-1:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc928ctqd99_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#fragrance:checked ~ .products a .image-2:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-23020-rm8vwbd23cnv86_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#fragrance:checked ~ .products a .image-3:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#fragrance:checked ~ .products a .image-4:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*  */
#makeup:checked ~ .products a .image-1:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc928ctqd99_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#makeup:checked ~ .products a .image-2:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-23020-rm8vwbd23cnv86_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#makeup:checked ~ .products a .image-3:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/a90dfe8d8a12e7f93744023d302242cf_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#makeup:checked ~ .products a .image-4:hover {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhvj96kbhrr5a7_tn);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Image */
.image-1,
.image-2,
.image-3,
.image-4 {
  width: 280px;
  height: 320px;
  object-fit: contain;
  background-repeat: no-repeat;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s, box-shadow 0.5s;
}

.image-1 {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc92877gl97_tn);
}

.image-2 {
  background-image: url(https://down-vn.img.susercontent.com/file/d2d321ac71fdeb17b8f9e800b28bd67d_tn);
}

.image-3 {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhyhe0lrgyip06_tn);
}

.image-4 {
  background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-23030-ku3stqpchlovb1_tn);
}

.price {
  font-weight: 700;
}

/*check change*/
#skincare:checked ~ .products {
  .image-1 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc92877gl97_tn);
  }

  .image-2 {
    background-image: url(https://down-vn.img.susercontent.com/file/d2d321ac71fdeb17b8f9e800b28bd67d_tn);
  }

  .image-3 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhyhe0lrgyip06_tn);
  }

  .image-4 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-23030-ku3stqpchlovb1_tn);
  }
}

#haircare:checked ~ .products {
  .image-1 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhyhe0lrgyip06_tn);
  }

  .image-2 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-23030-ku3stqpchlovb1_tn);
  }

  .image-3 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc92877gl97_tn);
  }

  .image-4 {
    background-image: url(https://down-vn.img.susercontent.com/file/d2d321ac71fdeb17b8f9e800b28bd67d_tn);
  }
}

#cosmeticscases:checked ~ .products {
  .image-1 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc92877gl97_tn);
  }

  .image-2 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-23030-ku3stqpchlovb1_tn);
  }

  .image-3 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhyhe0lrgyip06_tn);
  }

  .image-4 {
    background-image: url(https://down-vn.img.susercontent.com/file/d2d321ac71fdeb17b8f9e800b28bd67d_tn);
  }
}
#fragrance:checked ~ .products a {
  .image-1 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc92877gl97_tn);
  }

  .image-2 {
    background-image: url(https://down-vn.img.susercontent.com/file/d2d321ac71fdeb17b8f9e800b28bd67d_tn);
  }

  .image-3 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhyhe0lrgyip06_tn);
  }

  .image-4 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-23030-ku3stqpchlovb1_tn);
  }

  color: green;
}
#makeup:checked ~ .products a {
  .image-1 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-23030-ku3stqpchlovb1_tn);
  }

  .image-2 {
    background-image: url(https://down-vn.img.susercontent.com/file/d2d321ac71fdeb17b8f9e800b28bd67d_tn);
  }

  .image-3 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhyhe0lrgyip06_tn);
  }

  .image-4 {
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lhsmc92877gl97_tn);
  }
  color: red;
}
